.faq {
  margin-top: 120px;
  &__container {
    @include df-column-center-center;
    gap: 64px;
  }
  &__top-box {
  }
  &__top-title {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
  }
  &__bottom-box {
    width: 100%;
    @include df-column-center-center;
    gap: 64px;
  }
  &__bottom-boxes {
    width: 100%;
    @include df-row-between-start;
    gap: 32px;
  }
  &__bottom-titles {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
    color: $dark__navy;
  }
  &__accardion-box {
    @include df-column-center-center;
    gap: 24px;
  }
  &__accardion-boxes {
    cursor: pointer;
    padding: 32px 40px 32px 40px;
    background-color: $snow;
    @include df-column-center-center;
    transition: 350ms ease all;
    gap: 0;
  }
  &__accardion-boxes.dropdown {
    transition: 350ms ease all;
    gap: 32px;
  }
  &__accardion-top-box {
    width: 100%;
    @include df-row-between-center;
  }
  &__accardion-titles {
    width: 100%;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    color: $dark__navy;
  }
  &__accardion-icons {
    width: 18px;
    height: 12px;
    transition: 350ms ease all;
  }
  &__accardion-icons.dropdown {
    width: 18px;
    height: 12px;
    transition: 350ms ease all;
    transform: rotate(180deg);
  }
  &__accardion-texts {
    overflow: hidden;
    width: 650px;
    text-align: start;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 0px;
    letter-spacing: 0px;
    color: $dark__navy;
    transition: 350ms ease all;
  }
  &__accardion-texts.dropdown {
    overflow: visible;
    transition: 350ms ease all;
    line-height: 25px;
  }
}
@media (max-width: 1150px) {
  .faq {
    margin-top: 120px;
    &__container {
      @include df-column-center-center;
      gap: 64px;
    }
    &__top-box {
    }
    &__top-title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__bottom-box {
      @include df-column-center-center;
      gap: 64px;
    }
    &__bottom-boxes {
      @include df-column-center-center;
      gap: 32px;
    }
    &__bottom-titles {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1.79px;
      color: $dark__navy;
    }
    &__accardion-box {
      @include df-column-center-center;
      gap: 24px;
    }
    &__accardion-boxes {
      padding: 32px 40px 32px 40px;
      background-color: $snow;
      @include df-column-center-center;
      gap: 0;
    }
    &__accardion-boxes.dropdown {
      gap: 32px;
    }
    &__accardion-top-box {
      width: 100%;
      @include df-row-between-center;
    }
    &__accardion-titles {
      width: 100%;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__accardion-icons {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
    }
    &__accardion-icons.dropdown {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
      transform: rotate(180deg);
    }
    &__accardion-texts {
      overflow: hidden;
      width: 100%;
      text-align: start;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 0px;
      letter-spacing: 0px;
      color: $dark__navy;
      transition: 350ms ease all;
    }
    &__accardion-texts.dropdown {
      overflow: visible;
      transition: 350ms ease all;
      line-height: 25px;
    }
  }
}
@media (max-width: 1024px) {
  .faq {
    margin-top: 120px;
    &__container {
      padding-left: 40px;
      padding-right: 40px;
      @include df-column-center-center;
      gap: 64px;
    }
    &__top-box {
    }
    &__top-title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__bottom-box {
      @include df-column-center-center;
      gap: 64px;
    }
    &__bottom-boxes {
      @include df-column-center-center;
      gap: 32px;
    }
    &__bottom-titles {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1.79px;
      color: $dark__navy;
    }
    &__accardion-box {
      @include df-column-center-center;
      gap: 24px;
    }
    &__accardion-boxes {
      padding: 32px 40px 32px 40px;
      background-color: $snow;
      @include df-column-center-center;
      gap: 0;
    }
    &__accardion-boxes.dropdown {
      gap: 32px;
    }
    &__accardion-top-box {
      width: 100%;
      @include df-row-between-center;
    }
    &__accardion-titles {
      width: 100%;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__accardion-icons {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
    }
    &__accardion-icons.dropdown {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
      transform: rotate(180deg);
    }
    &__accardion-texts {
      overflow: hidden;
      width: 100%;
      text-align: start;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 0px;
      letter-spacing: 0px;
      color: $dark__navy;
      transition: 350ms ease all;
    }
    &__accardion-texts.dropdown {
      overflow: visible;
      transition: 350ms ease all;
      line-height: 25px;
    }
  }
}
@media (max-width: 767px) {
  .faq {
    margin-top: 145px;
    &__container {
      padding-left: 32px;
      padding-right: 32px;
      @include df-column-center-center;
      gap: 48px;
    }
    &__top-box {
    }
    &__top-title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      color: $dark__navy;
    }
    &__bottom-box {
      @include df-column-center-center;
      gap: 48px;
    }
    &__bottom-boxes {
      @include df-column-center-center;
      gap: 32px;
    }
    &__bottom-titles {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__accardion-box {
      @include df-column-center-center;
      gap: 16px;
    }
    &__accardion-boxes {
      padding: 32px 32px 32px 32px;
      background-color: $snow;
      @include df-column-center-center;
      gap: 0;
    }
    &__accardion-boxes.dropdown {
      gap: 32px;
    }
    &__accardion-top-box {
      width: 100%;
      @include df-row-between-center;
    }
    &__accardion-titles {
      width: 219px;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.8px;
      color: $dark__navy;
    }
    &__accardion-icons {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
    }
    &__accardion-icons.dropdown {
      width: 18px;
      height: 12px;
      transition: 350ms ease all;
      transform: rotate(180deg);
    }
    &__accardion-texts {
      overflow: hidden;
      width: 100%;
      text-align: start;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 0px;
      letter-spacing: 0px;
      color: $dark__navy;
      transition: 350ms ease all;
    }
    &__accardion-texts.dropdown {
      overflow: visible;
      transition: 350ms ease all;
      line-height: 25px;
    }
  }
}