.location {
  margin-top: 99px;
  width: 100%;
  background-image: url("../../images/careers__background.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  &__container {
    @include df-row-start-center;
  }
  &__title {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }
}
@media (max-width: 1024px) {
  .location {
    margin-top: 99px;
    width: 100%;
    background-image: url("../../images/careers__tb-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding-top: 72px;
    padding-bottom: 72px;
    &__container {
      padding-right: 40px;
      padding-left: 40px;
      @include df-row-start-center;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
  }
}
@media (max-width: 767px) {
  .location {
    margin-top: 68px;
    width: 100%;
    background-image: url("../../images/careers__mb-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
      padding-right: 32px;
      padding-left: 32px;
      @include df-row-center-center;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
    }
  }
}